# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.sublime-workspace
*.tgz

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
*.bin

# Package directory
pkg/

# Vendor directory
vendor/

# IntelliJ
.idea/

# Dependency directories
github.com/
gopkg.in/

.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

